@font-face {
    font-family: "SF Mono";
    src: url("/sf-mono-cufonfonts/SFMonoBold.otf"),
         url("/sf-mono-cufonfonts/SFMonoBoldItalic.otf"),
         url("/sf-mono-cufonfonts/SFMonoHeavy.otf"),
         url("/sf-mono-cufonfonts/SFMonoHeavyItalic.otf"),
         url("/sf-mono-cufonfonts/SFMonoLight.otf"),
         url("/sf-mono-cufonfonts/SFMonoLightItalic.otf"),
         url("/sf-mono-cufonfonts/SFMonoMedium.otf"),
         url("/sf-mono-cufonfonts/SFMonoMediumItalic.otf"),
         url("/sf-mono-cufonfonts/SFMonoRegular.otf"),
         url("/sf-mono-cufonfonts/SFMonoRegularItalic.otf"),
         url("/sf-mono-cufonfonts/SFMonoSemibold.otf"),
         url("/sf-mono-cufonfonts/SFMonoSemiboldItalic.otf")
}
@font-face {
    font-family: "思源黑体";
    src: url("/source-han-sans/SourceHanSans-Bold.ttc"),
         url("/source-han-sans/SourceHanSans-ExtraLight.ttc"),
         url("/source-han-sans/SourceHanSans-Heavy.ttc"),
         url("/source-han-sans/SourceHanSans-Light.ttc"),
         url("/source-han-sans/SourceHanSans-Medium.ttc"),
         url("/source-han-sans/SourceHanSans-Normal.ttc"),
         url("/source-han-sans/SourceHanSans-Regular.ttc")
}
@font-face {
    font-family: "思源柔黑";
    src: url("/siyuan-rou-hei/GenJyuuGothic-Light-2.ttf"),
         url("/siyuan-rou-hei/GenJyuuGothic-Normal-2.ttf"),
         url("/siyuan-rou-hei/GenJyuuGothic-Regular-2.ttf"),
}
@font-face {
    font-family: "MiSans";
    src: url("/misans/MiSans-Bold.ttf"),
         url("/misans/MiSans-Demibold.ttf"),
         url("/misans/MiSans-ExtraLight.ttf"),
         url("/misans/MiSans-Heavy.ttf"),
         url("/misans/MiSans-Light.ttf"),
         url("/misans/MiSans-Medium.ttf"),
         url("/misans/MiSans-Normal.ttf"),
         url("/misans/MiSans-Regular.ttf"),
         url("/misans/MiSans-Semibold.ttf"),
         url("/misans/MiSans-Thin.ttf")
         
}