// 颜色
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 15rem
$contentWidth = 740px
$homePageWidth = 100rem

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$globalFont = MiSans
$codeFont = "SF Mono"

/* 全局字体 */
body
  font-family: $globalFont !important;

/* 对小代码块颜色设置 */
.content__default {
  code {
    color: #E96910!important
    background-color: rgba(27,31,35,0.03)!important
  }
  pre, pre[class*="language-"] {
    code {
      color #fff!important
    }
  }
}

/* 整体代码块字体 */
code, code[class*="language-"], pre, pre[class*="language-"]
  font-family: $codeFont !important


/* 
   文章页面与侧边栏之间的关系 
   -- 夹带动态页面大小 
*/

.page, .password-wrapper-in
    overflow-x: hidden;
    margin-left: 16rem;
.sidebar
    width: 16rem
    font-size: 15px
a.sidebar-link
    line-height: 1.2rem

@media (max-width: 959px)
  .page, .password-wrapper-in
    margin-left: 14rem
  .sidebar
    width: 14rem
    font-size: 13px
  a.sidebar-link
    line-height: 1rem

@media (max-width: 719px)
  .page, .password-wrapper-in
    margin-left: 0rem

.vssue
  box-shadow: var(--box-shadow)
  border-radius: 10px
  max-width: 70rem
  font-family: $globalFont
  font-size: 15px

.vssue .vssue-new-comment
  font-family: $globalFont
  font-size: 15px